* {
    margin: 0;
    padding: 0;
}

.head {
    width: 100%;
    height: 800px;
    background-image: url(../images/banner/banner2.png);
}

.div-head {
    text-align: right;
    margin-right: 50px;

}

.div-head h2 {
    font-size: 60px;
    font-weight: 700;
    padding-top: 200px;
    margin-bottom: 30px;
}

.div-head p {
    font-size: small;
    margin-bottom: 30px;
}

.primary-button {
    height: 30px;
    width: 100px;
    background-color: #f8802af3;
    border: none;
    border-radius: 5px;
    font-size: small;
    color: white;
}

.sec-1 {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    margin: 30px 200px;
}

.image img {
    height: 560px;
    width: 450px;
}

.details {
    max-width: 400px;
}

.details h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.details p {
    font-size: 16px;
    color: #151414;
    margin-bottom: 10px;
}

.details ol {
    font-size: 12px;
    padding-left: 30px;
    list-style: square;
}

.my-plans h2 {
    text-align: center;
    font-size: 40px;
    margin: 50px 0px;
    font-weight: 700;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.plans h3 {
    font-size: 25px;
    margin: 10px 0px;
}

.plans p {
    font-size: 15px;
    margin: 10px 0px;
    color: #151414;
}

.sec-3 h2 {
    text-align: center;
    font-size: 40px;
    margin: 50px 0px;
    font-weight: 700;
}

.plan-succeed {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 70px;

}

.to-do {
    width: 250px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 15px;
}

.to-do h3 {

    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.to-do p {
    font-size: 14px;
}


.sec-4 {
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 800px;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    justify-items: center;
    margin-bottom: 60px;
}

.sec-4 h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-left: 50px;
    padding-top: 40px;
    width: 380px;
    margin-bottom: 10px;
}

.sec-4 .primary-button {
    margin-left: 50px;
    background-color: white;
    color: #F15B22;
}

.footer-sec {
    display: flex;
    width: 100%;
    gap:20px;
    background-color: #151414c5;
}

.info {
    width: 50%;

}

.info h2 {
    font-size: 25px;
    color: white;
    padding: 20px 0px 0px 200px;
}

.info p{
    font-size: 12px;
    width: 300px;
    color: white;
    padding-left: 200px;
    margin-top: 10px;
}

.icon{
    padding-left: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.icon img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.subcribe{
    width: 50%;
    padding: 20px;
}
.subcribe h2{
    font-size: 18px;
    width: 300px;
    color: white;
}
#email{
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:2px solid white ;
    background-color: #15141469;
    padding-left: 5px;
}
